.page {
  width: 100%;
  min-height: 100%;
  background: #212121;
}

.card-container {
  margin: 5rem auto;
}

.help-form-container {
    margin: 5rem auto;
    width: 400px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .help-form-container button:active {
    scale: 0.95;
  }
  
  .help-form-container .help-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
  }
  
  .help-form-container .help-form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .help-form-container .help-form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .help-form-container .help-form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .help-form-container .help-form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .help-form-container .help-form-group input::placeholder {
    opacity: 0.5;
  }
  
  .help-form-container .help-form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .help-form-container .help-form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .help-form-container .help-form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .help-form-container .help-form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }

  .card {
    width: 320px;
    height: 350px;
    padding: 20px;
    color: white;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .main-content {
    flex: 1;
  }
  
  .card .header span:first-child {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
  }
  
  .card .heading {
    font-size: 24px;
    margin: 24px 0 16px;
    font-weight: 600;
  }
  
  .card .categories {
    display: flex;
    gap: 8px;
  }
  
  .card .categories span {
    background-color: #e81cff;
    padding: 4px 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50em;
  }
  
  .card .footer {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
  }
  
  .card:hover {
    rotate: 8deg;
  }
  
  
  
  